apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "audiomuse-ai.fullname" . }}-env-vars
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "audiomuse-ai.labels" . | nindent 4 }}
data:
  # --- External Service URLs ---
  JELLYFIN_URL: {{ .Values.jellyfin.url | quote }}
  NAVIDROME_URL: {{ .Values.navidrome.url | quote }}
  LYRION_URL: {{ .Values.lyrion.url | quote }}
  OLLAMA_SERVER_URL: {{ .Values.config.ollamaServerUrl | quote }}

  # --- Internal Service Connectivity ---
  POSTGRES_HOST: {{ printf "%s-postgres" (include "audiomuse-ai.fullname" .) }}
  POSTGRES_PORT: {{ int .Values.postgres.service.port | quote }}
  REDIS_URL: "redis://{{ include "audiomuse-ai.fullname" . }}-redis:{{ .Values.redis.service.port }}/0"
  # --- Core Application Settings ---
  MEDIASERVER_TYPE: {{ .Values.config.mediaServerType | quote }}
  TEMP_DIR: {{ .Values.config.tempDir | quote }}
  CLUSTER_ALGORITHM: {{ .Values.config.clusterAlgorithm | quote }}
  AI_MODEL_PROVIDER: {{ .Values.config.aiModelProvider | quote }}
  OLLAMA_MODEL_NAME: {{ .Values.config.ollamaModelName | quote }}
  OPENAI_SERVER_URL: {{ .Values.config.openaiServerUrl | quote }}
  OPENAI_MODEL_NAME: {{ .Values.config.openaiModelName | quote }}
  GEMINI_MODEL_NAME: {{ .Values.config.geminiModelName | quote }}
  MISTRAL_MODEL_NAME: {{ .Values.mistral.modelName | quote }}
  AI_CHAT_DB_USER_NAME: {{ .Values.config.aiChatDbUserName | quote }}